@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

input:focus-visible{
    outline: 0;
}

.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(#43cea2,#185a9d);
    align-items: center;
    justify-content: center;
}

.main h1{
    font-size: 50px;
    text-align: center;
}

.box{
    min-width: 400px;
    padding: 20px;
    box-shadow: 0 4px 10px rgb(0 0 0 / 50%);
    background: linear-gradient(#abbaab,#ffffff) ;
    border-radius: 10px;
    margin-top: 10px; 
   
}

#pass-box{
    width: 100%;
    display: flex;
    background: white;
    font-size: 30px;
    padding: 10px;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
}

.row{
    width: 100%;
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    font-size: 20px;
}

label{
    user-select: none;
}

#btn{
    width: 100%;
    font-size: 20px;
    outline: 0;
    border: none;
    padding: 10px;
    background-color: #34495e;
    color: white;
    margin-top: 10px;
    border-radius: 5px;
}

@media screen and (min-width:320px) and (max-width:480px){
    .box{
        transform: scale(0.65);
    }

    .main h1{
        font-size: 2rem;
        text-align: center;
    }
}

@media screen and (min-width:481px) and (max-width:768px) {
    .box{
        transform: scale(0.8);
    }

    .main h1{
        font-size: 3rem;
        text-align: center;
    }
}
@media screen and (min-width:1200px) and (max-width:1400px) {
    .box{
        transform: scale(1.1);
    }

    .main h1{
        font-size: 4rem;
        text-align: center;
    }
}

@media screen and (min-width:1401px) and (max-width:1600px) {
    .box{
        transform: scale(1.1);
    }

    .main h1{
        font-size: 4rem;
        text-align: center;
    }
}

@media screen and (min-width:1601px) and (max-width: 1900px) {
    .box{
        width: 40rem;
        height: 25rem;
    }

    .main h1{
        font-size: 4rem;
        text-align: center;
    }
}